/* base, leave this alone */
.avatarSpeaking-2IGMRN{
	--box-shadow:inset 0 0 0 2px rgb(59, 165, 93),inset 0 0 0 3px var(--background-secondary);
	-webkit-box-shadow:var(--box-shadow);
	box-shadow:var(--box-shadow);
}

.avatarSpeaking-2IGMRN[style*="92258383519817728"] {
--avatar-speaking-color:#ffd700;
}

.avatarSpeaking-2IGMRN[style*="392889726530748416"] {
--avatar-speaking-color:#c09cff;
}