/**
 * @name Per-person Talking Indicator Colors
 * @author Hearty
 * @invite http://voice.voltegames.club
 * @version 1.0
 * @description A simple CSS snippet to allow for per person talking indicator colors.
*/

/* base, leave this alone */
.avatarSpeaking-2IGMRN{
	--box-shadow:inset 0 0 0 2px rgb(59, 165, 93),inset 0 0 0 3px var(--background-secondary);
	-webkit-box-shadow:var(--box-shadow);
	box-shadow:var(--box-shadow);
}

/* Your indicator */
.avatarSpeaking-2IGMRN[style*="92258383519817728"]{
	--box-shadow:inset 0 0 0 2px rgb(255, 215, 0) ,inset 0 0 0 3px var(--background-secondary);
}

/* Add more below */

.avatarSpeaking-2IGMRN[style*="none"]{
	--box-shadow:inset 0 0 0 2px rgb(255, 215, 0) ,inset 0 0 0 3px var(--background-secondary);
}